redirects: on
source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget NUnit 
nuget NUnit.Runners
nuget NuGet.CommandLine
nuget FAKE
nuget SourceLink.Fake
nuget MBrace.Core ~> 1.1.2
nuget MBrace.Runtime ~> 1.1.2
nuget MBrace.Tests

nuget AWSSDK.S3 ~> 3.0
nuget AWSSDK.DynamoDBv2 ~> 3.0
nuget AWSSDK.SQS ~> 3.0
nuget Argu ~> 2.0
nuget FSharp.DynamoDB prerelease

github fsharp/FAKE modules/Octokit/Octokit.fsx